/* * FONT * */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* * FONT * */

*, * ::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: .6;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

.head {
    width: 50rem;
    margin: 0 auto;
    padding: 7rem 1rem ;
    text-align: center;
    color: var(--Very-Dark-Blue);
}

.head p {
    max-width: 100%;
}

.head :first-child {
    font-weight: 200;
}

.power {
    margin: 0 0 2rem 0;
}

.container {
    min-width: 50rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    max-width: 35rem;
    padding: 3rem;
    height: 25rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    color: var(--Very-Dark-Blue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.left, .right {
    display: flex;
    align-items: center;
}

.one {
    border-top: .5rem solid var(--Cyan);
}
.two {
    border-top: .5rem solid var(--Red);
}
.three {
    border-top: .5rem solid var(--Orange);
}
.four {
    border-top: .5rem solid var(--Blue);
}

.icon {
    position: relative;
    top: 4.5rem;
    left: 22rem;
}
